
<div id="myModal" class="modal fade in" role="dialog" style="display:block">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <div class="simple-page-logo animated swing">
            </div><!-- logo -->
            <h4 class="form-title m-b-xl text-center">
              <img src="../../assets/images/delpac.png" />
              <br />
              Ingresar al sistema de control de garant&iacute;as
            </h4>
            
          </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="widget row no-gutter p-lg">
                        <div class="simple-page-wrap">
                          
                            <div class="simple-page-form animated flipInY" id="login-form">
                                <form action="#">
                                    <div class="form-group center-block">
                                        <input id="sign-in-email" type="email" class="form-control" placeholder="Usuario">
                                    </div>
                                    <div class="form-group">
                                        <input id="sign-in-password" type="password" class="form-control" placeholder="Clave">
                                    </div>
                                    <div class="form-group m-b-xl">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="keep_me_logged_in" />
                                            <label for="keep_me_logged_in">Recordarme</label>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary" data-dismiss="modal" [routerLink]="['/home']">Ingresar</button>
                                </form>
                            </div><!-- #login-form -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>

    </div>
</div>
<div id="backed" class="modal-backdrop fade in"></div>
<div id="backed" class="modal-backdrop fade in"></div>
<!-- Modal -->-->
