
<div class="simple-page-wrap">
  <div class="simple-page-form animated flipInY" id="login-form">
    <h4 class="form-title m-b-xl text-center">Control de Garantías</h4>
    <div>
      <div class="form-group text-center">
        <img src="../../assets/images/delpac.png" />
      </div>
      <div class="form-group">
        <input id="username" type="text" class="form-control " placeholder="Usuario" [(ngModel)]="user.username" required>
      </div>

      <div class="form-group">
        <input id="password" type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="user.password" required>
      </div>

      <div class="form-group m-b-xl">
        <div class="checkbox checkbox-primary">
          <input type="checkbox" id="keep_me_logged_in" [(ngModel)]="user.recordarme" />
          <label for="keep_me_logged_in">Recordarme</label>
        </div>
      </div>
      <div class="form-group">
        <span>{{mensaje}}</span>
      </div>
      <button (click)="login()" class="btn btn-primary">INGRESAR</button>
    </div>
  </div>
  <!-- #login-form -->
  <!--<div class="simple-page-footer">
    <p><a href="password-forget.html">FORGOT YOUR PASSWORD ?</a></p>
    <p>
      <small>Don't have an account ?</small>
      <a href="signup.html">CREATE AN ACCOUNT</a>
    </p>
  </div>-->
  <!-- .simple-page-footer -->


</div>
<!-- .simple-page-wrap -->
