<div class="col-md-12">
  <div class="widget row no-gutter p-lg">
    <div class="col-md-5 col-sm-5">
      <h1>Bienvenido {{name}}</h1>
      <h2>{{fecha}}</h2>
      <p></p>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="widget row no-gutter p-lg">
    <header class="widget-header">
      <h4 class="widget-title">Actividad reciente</h4>
    </header>
    <hr class="widget-separator" />
    <div class="widget-body">
      <div class="streamline">
        <div class="sl-item sl-primary">
          <div class="sl-content">
            <small class="text-muted">00 mins atr&aacute;s</small>
            <p>Ingreso al sistema</p>
          </div>
        </div>
        <!-- .sl-item -->
        <div class="sl-item sl-danger">
          <div class="sl-content">
            <small class="text-muted">00 mins atr&aacute;s</small>
            <p>Ingreso al sistema</p>
          </div>
        </div>
        <!-- .sl-item -->
        <div class="sl-item sl-success">
          <div class="sl-content">
            <small class="text-muted">00 mins atr&aacute;s</small>
            <p>Ingreso al sistema</p>
          </div>
        </div>
        <!-- .sl-item -->
        <div class="sl-item sl-warning">
          <div class="sl-content">
            <small class="text-muted">00 mins atr&aacute;s</small>
            <p>Ingreso al sistema</p>
          </div>
        </div>
        <!-- .sl-item -->
      </div>
      <!-- .streamline -->
    </div>
  </div>
</div>
<!-- .widget -->
